[Unit]
Description=Rotate Mullvad WireGuard tunnels
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wg-rotate
